.clock {
    display: inline-block;
    width: 100%;
    color: #fff;
}
    .clock > .time {
        display: inline-block;
        width: 25%;
        float: left;
    }
        .clock > .time > .value {
            display: inline-block;
            width: 100%;
            font-size: 80px;
            line-height: 80px;
            /* transition-delay: 5s; */
            animation-duration: 20s;
            animation-name: numbers;
            animation-iteration-count: infinite;
        }
        @keyframes numbers {
            0% {color: white;}
            25% {color: blue;}
            50% {color: black;
            font-weight: bold;}
            75% {color: blue;}
        }

        .clock > .time > .label {
            display: inline-block;
            width: 100%;
            font-size: 20px;
            line-height: 20px;
        }

        


            

        }