.mouse {
    display: inline-block;
    width: 60px;
    height: 100px;
    border: 5px solid #fff;
    border-radius: 60px;
}
    .mouse > .wheel {
        display: inline-block;
        width: 5px;
        height: 20px;
        margin-top: 10px;
        background-color: #fff;
        border-radius: 5px;
        
        background-size: cover;
        background-position: center;

        animation-name: scroll;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-delay: 2s;
        animation-direction: alternate;
        /* animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715); */
    }
    .mouse > .wheel:hover {
        /*uzvedus pele sustoja*/
        animation-play-state: paused;
    }

@keyframes scroll {
    0% {
        margin-top: 10px;
    }
    100% {
        margin-top: 60px;
        background-color: transparent;
    }
}

/*@keyframes scroll {
    0% {
        margin-top: 30px;
        background-color: rgb(255, 0, 0);
        display: inline-block;
        transform: rotate(0deg);
    }
    100% {
        margin-top: 120px;
        background-color: rgb(0, 0, 255);
        display: none;
        transform: rotate(360deg);
    }
} */